/* 
    Document   : myStyles
    Created on : 21-Jul-2013, 12:44:05
    Author     : CodeBeast
    Description:
        Purpose of the stylesheet follows.
*/

.companyName {
    color:yellowgreen;
    font-size: 48pt;
    font-weight:bold;

}

h1#textHeader {
    background: rgba(0,0,0,0.2);
    text-align: center;
    color: whitesmoke;
    /*font: 95px/1 "Impact";*/
    font: 95px/1 "Times";
    font-style: italic;
    /*font: 95px/1 "Helevetica Neue";*/
    /*text-transform: uppercase;*/
    display: block;
    text-shadow: black -4px 4px 0,
        black -2px 2px 0,
        red -3px 3px 0,
        red -4px 4px 0;
    margin: auto auto 5%;
    display:none;
}
